<!DOCTYPE html>
<html lang="en">

<head>
    <title>travel-india-tour </title>
    <meta name="Description"
        content="The job search program for busy high achievers in the next 90 days. We offer mid career job consulting, ATS optimised resume writing and Linkedin profile enhancement and optimisation.">
    <meta name="Keywords"
        content="businessclue.in, stageup, businessclue, resume writing, resume builder, job search program, job search, career counselling, career consulting, career opportunities, online resume, online resume writing,">
    <link rel="canonical" href='https://businessclue.in/' />
    <meta property="og:url" content="https://businessclue.in/" />
    <!-- <script rel="preload" as="script" type="application/ld+json">{"@context":"https://schema.org","@graph":[{"@type":"Place","@id":"https://businessclue.in/#place"},{"@context":"http://www.schema.org","@type":"Organization","name":"businessclue.in","url":"https://businessclue.in/","@id":"https://businessclue.in/#organization","description":"businessclue.in is a personalized, tailor-made job consulting site for busy high achievers looking for brand new career opportunities ","logo":{"@type":"ImageObject","@id":"https://businessclue.in/#logo","url":"https://www.businessclue.in/images/logo.png","contentUrl":"https://www.businessclue.in/images/logo.png","caption":"businessclue.in The job search program","inLanguage":"en-US","width":"715","height":"126"},"location":{"@id":"https://businessclue.in/#place"},"contactPoint":{"@type":"ContactPoint","contactType":"customer support","email":"support@businessclue.in"},"sameAs":["https://www.linkedin.com/company/stageup-me","https://www.instagram.com/businessclue.in"]},{"@type":"WebSite","@id":"https://businessclue.in/#website","url":"https://businessclue.in","name":"businessclue.in The job search program","publisher":{"@id":"https://businessclue.in/#organization"},"inLanguage":"en-US"},{"@type":"ImageObject","@id":"https://www.businessclue.in/images/logo.png","url":"https://www.businessclue.in/images/logo.png","width":"640","height":"151","inLanguage":"en-US"},{"@type":"ContactPage","@id":"https://businessclue.in/contact-us/#webpage","url":"https://businessclue.in/contact-us/","name":"Contact Us \u2013 businessclue.in","datePublished":"2022-10-24T05:44:03+05:30","dateModified":"2022-10-24T16:58:29+05:30","isPartOf":{"@id":"https://businessclue.in/#website"},"primaryImageOfPage":{"@id":"https://www.businessclue.in/images/logo.png"},"inLanguage":"en-US"}]}</script> -->
    <%- include('../inc/header-meta.ejs') %>
</head>

<body>
    <%- include('../inc/header-main.ejs') %>
        <div class="home-page">
            <%- include('../partials/index-banner.ejs')%>
                <%- include('../partials/biography.ejs')%>
                    <section class="section-services section-base-header text-center"
                        data-section-name="business-clue-services">
                        <div class="page-bg">
                            <img class="svg banner-svg" src="images/page-dots-ver.svg" title="" loading="lazy" alt="" />
                        </div>
                        <div class="banner-color"></div>
                        <div class="container">
                            <div class="card-headings">
                                <div class="heading h3" data-aos="zoom-in">Case Study</div>
                            </div>
                        </div>
                    </section>

                    <%- include('../partials/case-study-1.ejs')%>
                        <%- include('../partials/case-study-2.ejs')%>
                            <%- include('../partials/case-study-3.ejs')%>
                                <%- include('../partials/newslatter.ejs')%>
                                    <%- include('../inc/footer.ejs') %>
        </div>
</body>

</html>